CMakeFiles/
obj-*/
CMakeCache.txt
Makefile
cmake_*.cmake
install_manifest.txt
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.user
*.o
*.reject
*.so
*.snap*
*.xlog*
*~
.gdb_history
*/.vscode
/.vscode
./build
/build*/
qtmachine/build-qfsm-Desktop_Qt_5_15_2_GCC_64bit-Debug
/.rocks
VERSION
CTestTestfile.cmake
Testing
CTestTestfile.cmake
